<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false">
<!--
  <testsuites>
    <testsuite name="Hello World TestSuite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="coverage.xml" />
  </logging>
-->
          <testsuites>
        <testsuite name="default">
            <directory>tests/tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <php>
        <ini name="serialize_precision" value="14"/>
    </php>

</phpunit>
